<apex:page sidebar="false" showHeader="false">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    <div class="scjmn">
       <div class="slds-page-header">
         <div style="margin-top: 1rem; margin-left: 45rem;"><h1>Welcome to LiquidHub Helpdesk</h1></div>
         <div style="position: absolute; top: 1rem; right: 1rem;">
          <p>Date:11/13/15</p>
        </div>
        <div><h1>Welcome to Narasingarao Bhaviripudi</h1></div>
        <div style="position: absolute; top: 4rem; right: 1rem;">
          <a>Back to Home</a>
        </div>
       </div>
      <div class="slds-box">
                   <div class="slds-tabs--default">
                       <ul class="slds-tabs--default__nav" role="presentation">
                        <li class="slds-tabs--default__item slds-text-heading--label slds-active" title="Item One" role="presentation">
                           <a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Item One</a></li>
                        <li class="slds-tabs--default__item slds-text-heading--label" title="Item Two" role="presentation">
                           <a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Item Two</a></li>
                        <li class="slds-tabs--default__item slds-text-heading--label" title="Item Three" role="presentation">
                           <a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Item Three</a></li>
                      </ul>
                      <div id="tab-default-1" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">Item One Content</div>
                      <div id="tab-default-2" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">Item Two Content</div>
                      <div id="tab-default-3" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-3__item">Item Three Content</div>
                   </div>            
      </div>
    </div>
    <script>
 
/*SLDS Tabs JS*/
j$('.slds-tabs--default__link,.slds-tabs--scoped__link').click(function(){
  j$(this).parent().parent().find('.slds-tabs--default__link,.slds-tabs--scoped__link').attr('aria-selected','false');
  j$(this).attr('aria-selected','true');
  j$(this).parent().parent().find('.slds-tabs--default__link,.slds-tabs--scoped__link').attr('tabindex','-1');
  j$(this).attr('tabindex','0');
  j$(this).parent().addClass('slds-active').siblings().removeClass('slds-active');
  j$(this).parent().parent().parent().find('.'+j$(this).parent().parent().parent().find('.slds-tabs--default__content,.slds-tabs--scoped__content')[0].classList[0]).removeClass('slds-show').addClass('slds-hide');
  j$(this).parent().parent().parent().find('#'+j$(this).attr('aria-controls')).removeClass('slds-hide').addClass('slds-show');
}); 
/*SLDS Tabs JS*/
 
</script>
</apex:page>