<apex:page >
<body>
<ul>Case
	<li>(A case is a description of a customer’s feedback, problem, or question. Use cases to track and solve your customers’ issues.)</li>
	<li>You can quickly create, edit, locate, and view cases from the Cases tab.</li>
	<li><ul>Case's from company’s website and customer emails<li>Web-to-Case</li><li>Email-to-Case or On-Demand Email-to-Case</li></ul></li>
	<li>Your customers can also create cases on your Self-Service portal or Customer Portal.</li>
	<li>If the Service Cloud console is set up, you can find, view, and edit cases and their related records on one screen.</li>
	<li>If entitlements are set up, you can determine if a customer is eligible to receive support and see if existing cases are close to violating an entitlement process.</li>
</ul>
<ul>Case Management
	<li>
					<ul>Tools
						<li>
								<ul>Queues
								<li>(Automatically prioritize your support team’s workload by creating lists from which specific agents can jump in to solve certain types of cases.)</li>
								<li>
								(From Setup, enter Queues in the Quick Find box, then select Queues.
									Click New.
									Type a Label and Name for the queue, such as Platinum Support.
									If you want the support agents included in the queue to receive an email when a new case arrives, leave Queue Email blank. Otherwise, type an email address to notify a person or persons with the email address when each new case arrives.
									Add Case to Selected Objects.Add members, including yourself, to the queue and click Save.)		
								
								</li>
								<li>(Click the Cases tab.From the list, choose Platinum Support and click Go!)</li>
								
								</ul>
						</li>
						<li>
								<ul>Assignment Rules
								<li>(Automatically assign incoming cases to specific agents(one person, groups of people, or even queues) so that the right people work on the right cases.)</li>
								<li>(From Setup, enter Case Assignment Rules in the Quick Find box, then select Case Assignment Rules.
									Click New.
									Type, Awesome Admin Assignment, and click Save.
									Select the rule you just created, and next to Rule Entries, click New.In Sort Order, type 1 so that the entry we add is processed first.Different entries, which are processed in chronological order.
									Entry criteria:you can determine how cases are assigned based on fields(On Contacts,Accounts,Assets,or users) from records other than cases. User assigned to the rule entry.
									Email Template:you receive an email whenever a case from an awesome admin is assigned to Agents(User))
								</li>
								<li>(mark the rule as Active.When you activate an assignment rule, it disables any other assignment rules in your organization)</li>
								</ul>
						</li>
						<li>
								<ul>Auto-Response Rules
								<li>(Automatically send personalized email responses to customers based on each case’s details.)</li>
								<li>(From Setup, enter Case Auto-Response Rules in the Quick Find box, then select Case Auto-Response Rules.
									Click New.
									Type, Welcome to Support, then click Active and Save. Activating a rule deactivates any existing active rules.
									Select the rule you just created, and click New to add a rule entry.In Sort Order, type 1 so that the entry we add is processed first.
									which are processed in chronological order.Entry criteria:you can determine how cases are assigned based on fields(On Contacts,Accounts,Assets,or users) from records other than cases. User assigned to the rule entry.
									Email Template:you send an email as a quick response to customer whenever a case created from email with comapany web-site.)
								</li>
								</ul>
						</li>
						<li>
								<ul>Escalation Rules
								<li>(Automatically escalate cases to the right people when the cases aren’t solved by a certain time.)</li>
								<li>(From Setup, enter Escalation Rules in the Quick Find box, then select Escalation Rules.
									Click New.
									Type Silver Support, then click Active and Save. Activating a rule deactivates any existing active rules.
									Select the rule you just created, and click New to add a rule entry.In Sort Order, type 1 so that the entry we add is processed first.
									which are processed in chronological order.Entry criteria:you can determine how cases are assigned based on fields(On Contacts,Accounts,Assets,or users) from records other than cases.
									Set business hours to your organization’s default 24/7 support.Set that escalation times are based on when cases are created.Click Save, then New to add an escalation action.n Age Over, enter 5.
									Here, 5 is the number of hours at which cases escalate when they have a status of New. Remember, we want cases Closed after 5 hours. You can set up escalation actions in 30 minute increments by clicking 0 minutes and selecting 30 minutes.
									Notification Templates:one for assign user ,one for case owner)
							    </li>
								</ul>
						</li>
						<li>
								<ul>Macros
								<li>(Automatically complete repetitive tasks on cases, such as selecting the right email templates, so that agents can spend time doing more important things.)</li>
								</ul>
						</li>
					</ul>
	</li>
	<li>How they communicate with your company.
					<ul>Channels(phone number,video conferencing on a mobile app)
					(company—by phone, email, website, social media, online communities)
					
					<li>Web-to-Case(create online support)
					(it’s a form of case fields that customers fill out and submit to agents. Web-to-Case helps your team gather service requests from your company’s website and automatically generate up to 5,000 new cases a day.)
									<ul>
									<li>you decide which case fields display on the form
									</li>
									<li>you generate the HTML for the form</li>
									<li> you send the HTML to your web developer who puts the form on your company’s website</li>
									</ul>
					</li>
					<li>
					(From Setup, enter Web-to-Case in the Quick Find box, then select Web-to-Case.
						Click Enable Web-to-Case.
						Choose a default case origin, such as Web.
						Select a response template to automatically notify customers that their case was created.
						Click Hide Record Information to prevent case information from appearing in the email sent to customers.
						Email signature that’s different than the one in the response template.)
					</li>
					<li>
					(From Setup, enter Web-to-Case HTML Generator in the Quick Find box, then select Web-to-Case HTML Generator.
					Add the case fields you want on the form.
					If your organization uses multiple currencies, add the Case Currency field, otherwise all amounts are captured in your corporate currency.
					Enter the URL to appear after customers submit their case, such as a “thank you” page..
					Click Generate.
					Copy the HTML code and send it to your web developer to post on your website.
					Click Finished.)
					</li>
					</ul>
					<ul>
					Email-to-Case or On-Demand Email-to-Case(contact your support team through email.)
					<li></li>
					</ul>
	</li>
</ul>
</body>
</apex:page>